<div class = 'address-form'>
  <h1>{{title}}</h1>
  <div class="info">
    {{#each des}}
      <p>Description: {{this}}</p>
    {{/each}}
    {{#each date}}
      <p>Date: {{this}}</p>
    {{/each}}
    <p>Side Note: If the description is empty, there are no upcoming elections. <br>
     In addition, we apologize for the inconvenience the site is still in progress. The Date is read as year-month-day</p>
  </div>
</div>
